* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 46.5vh;
    background: #f4f4f4;
}

.menu-list {
    width: 100%;
    height: 6.7vh;
    padding: 1.74vh 1.44vh;
    background: #01486f;
    display: flex;
    flex-wrap: wrap;
}

.user-logo {
    width: 3.4vh;
    height: 3.4vh;
    border: 0.02rem solid #f9cd1e;
    border-radius: 1.7vh;
    background: url("user-logo.png");
    position: relative;
    display: inline-block;
}

.drop-menu {
    display: none;
    position: absolute;
    z-index: 300;
    background: #546972;
    opacity: 0.5;
    min-width: 10vh;
    right: 4vh;
    top: 4vh;
    width: 14vh;
    box-shadow: 0 0.1vh 0.2vh rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    list-style: none;
    font-size: 1.5vh;
}

.drop-menu ul {
    list-style: none;
}

.drop-menu ul li {
    float: right;
}

.drop-menu ul li:nth-child(1), .drop-menu ul li:nth-child(3), .drop-menu ul li:nth-child(5) {
    border-bottom: 0.2vh solid #fff;
}

.drop-menu ul li:nth-child(2), .drop-menu ul li:nth-child(4), .drop-menu ul li:nth-child(6) {
    border-bottom: 0.2vh dashed #fff;
}

.menu-logo:hover .drop-menu {
    display: block;
}

.menu-search {
    width: 35.37vh;
    height: 3.4vh;
    position: relative;
}

.menu-bottom {
    position: absolute;
    left: 34rem;
    top: 0.9rem;
    width: 3.9vh;
    height: 1.9vh;
    background: url("menu-search.png") no-repeat center;
    background-size: 100%;
    border-radius: 0.9vh;
    line-height: 1.9vh;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.menu-search input {
    display: block;
    margin: 0.2vh auto;
    width: 25.59vh;
    height: 3vh;
    border: 3px solid #b3c8d4;
    border-radius: 1.5vh;
    background: #b3c8d4;
    opacity: 0.5;
}

.menu-point {
    width: 0.6vh;
    height: 0.6vh;
    background: #e8b414;
    border-radius: 0.3vh;
    position: absolute;
    top: 1.5vh;
    left: 6vh;
}

.search-drop {
    display: none;
    padding: 1vh;
    font-size: 1.5vh;
    position: absolute;
    left: 10vh;
    z-index: 300;
    width: 15.8vh;
    height: 11.3vh;
    text-align: center;
    color: #000;
    background: url("1_03.png") no-repeat center;
    background-size: 100%;
}

.search-drop ul {
    list-style: none;
    display: flex;
    width: 13vh;
    height: 11vh;
}

.search-drop ul input {
    width: 1.3vh;
    height: 1.3vh;
}

.menu-search:hover .search-drop {
    display: block;
}

.menu-logo {
    width: 3.4vh;
    height: 3.4vh;
    background: url("menu-logo.png") no-repeat center;
    background-size: 100%;
}

.header-inf {
    width: 100%;
    height: 39.8vh;
    position: relative;
    overflow: hidden;
}

.header-product:nth-child(1) {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 19.76vh;
    background: #1faadd;
}

.header-product:nth-child(2) {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 19.76vh;
    background: url("header-background.png") no-repeat center;
    opacity: 0.4;
    background-size: 100%;
}

.header-product:nth-child(3) {
    position: absolute;
    z-index: 100;
    top: 4.26vh;
    left: 5.30vh;
    width: 78.5%;
    height: 18.32vh;
    background: url("header-background.png") no-repeat center;
    background-size: 100%;
}

.header-product:nth-child(4) {
    position: absolute;
    z-index: 100;
    width: 1.74vh;
    height: 1.74vh;
    left: 1.16vh;
    top: 12vh;
    opacity: 0.5;
    background: #f6e39c;
}

.header-product:nth-child(5) {
    position: absolute;
    z-index: 100;
    width: 3.1vh;
    height: 3.49vh;
    left: 2.03vh;
    top: 12.87vh;
    opacity: 0.5;
    background: #f6e39c;
}

.header-product:nth-child(6) {
    position: absolute;
    z-index: 150;
    width: 10.1vh;
    height: 11.83vh;
    right: 2.4vh;
    top: 8.7vh;
    opacity: 0.5;
    background: #b6f1d2;
}

.header-product:nth-child(7) {
    position: absolute;
    z-index: 200;
    width: 24.26vh;
    height: 7.12vh;
    top: 10.2vh;
    left: 4vh;
    background: #10c8f0;
}

.header-product ul {
    list-style: none;
}

.header-product ul li:nth-child(1) {
    margin: 0.5vh 0.5vh 0 0.5vh;
    width: 11.42vh;
    height: 2vh;
    line-height: 1.9vh;
    font-size: 1.5vh;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.header-product ul li:nth-child(2) {
    margin: 0 0.5vh;
    width: 11.42vh;
    height: 2vh;
    line-height: 1.9vh;
    font-size: 1.5vh;
    color: #fff;
    font-weight: bold;
}

.header-product ul li:nth-child(3) {
    margin: 0 0.5vh;
    width: 22vh;
    height: 3vh;
    line-height: 1.2vh;
    font-size: 1vh;
    color: #fff;
}

.header-product:nth-child(8) {
    position: absolute;
    z-index: 200;
    padding: 1vh 1.2vh;
    width: 33.27vh;
    height: 14.05vh;
    top: 18.32vh;
    left: 6.8vh;
    display: flex;
    background: #ffffff;
    border-bottom: 0.2vh solid #10c8f0;
    border-radius: 0.3vh;
    box-shadow: 0.5vh 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.product-content-1 {
    width: 14.3vh;
    height: 100%;
    font-size: 1.6vh;
    letter-spacing: 0.4vh;
}

.product-time {
    width: 7.51vh;
    height: 2.16vh;
    background: #07b0d5;
    border: 0.02rem solid #5be0fd;
    border-radius: 1.08vh;
    color: #fff;
    font-size: 0.8vh;
    letter-spacing: 0.2vh;
    line-height: 2.4vh;
    text-align: center;
}

.product-content-2 {
    width: 17.54vh;
    height: 100%;
    border-left: 0.2vh dotted #000;
}

.summary {
    width: 17.54vh;
    height: 4vh;
    display: flex;
    justify-content: right;
    font-size: 2.4vh;
    line-height: 4vh;
}

.summary:nth-child(1) {
    font-weight: bold;
    font-style: italic;
    color: #40d1f1;
}

.summary:nth-child(2) {
    font-weight: bold;
    font-style: italic;
    color: #f0c310;
}

.summary:nth-child(3) {
    font-weight: bold;
    font-style: italic;
    color: #32d486;
}

.summary ul {
    width: 15vh;
    height: 4vh;
    margin-left: 2vh;
    border-left: 0.2vh dotted #000;
    display: block;
}

.summary ul li:nth-child(1) {
    float: left;
    margin: 0;
    color: #595959;
    width: 10vh;
    height: 50%;
    list-style: none;
    font-style: normal;
    font-size: 1.44vh;
    text-decoration: none;
}

.summary ul li:nth-child(2) {
    float: left;
    margin: 0;
    color: #595959;
    width: 6vh;
    list-style: none;
    font-style: normal;
    font-size: 1vh;
}

.summary ul li:nth-child(3) {
    width: 3vh;
    float: left;
    line-height: 2vh;
    margin: 0;
}

.header-product:nth-child(9) {
    position: absolute;
    z-index: 100;
    width: 2.88vh;
    height: 5.7vh;
    top: 13vh;
    right: 1.6vh;
    background: url("3_03.png") no-repeat center;
    background-size: 100%;
    font-size: 1.2vh;
    color: #f5f5f5;
}

.header-banner-button {
    width: 2.88vh;
    height: 4vh;
    background: url("header-banner-button.png") no-repeat center;
    background-size: 200%;
}

.content-list {
    margin: 0 auto;
    width: 94%;
    height: auto;
}

.content:nth-child(1) {
    width: 100%;
    height: 65.6vh;
    display: flex;
    flex-wrap: wrap;
}

.content:nth-child(2) {
    width: 100%;
    height: 54.3vh;
}

.content:nth-child(3) {
    width: 100%;
    height: 72.37vh;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.2vh dotted #000;
}

.content-title {
    width: 100%;
    height: 2.4vh;
}

.content-title ul {
    list-style: none;
    display: flex;
}

.content-title li:nth-child(1) {
    width: 2.5vh;
    border-top: 0.2vh solid #ebc243;
    text-align: center;
    line-height: 2.3vh;
    font-size: 1vh;
    color: #727272;
}

.content-title li:nth-child(2) {
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
}

.content-title li:nth-child(3) {
    text-align: center;
    line-height: 2.5vh;
    font-size: 1vh;
    color: #727272;
}

.content-menu {
    width: 35.5vh;
    height: 3vh;
    display: flex;
    justify-content: space-between;
}

.content-submenu {
    width: 10.51vh;
    margin-top: 0.3vh;
    border: 0.2vh solid #fff;
    border-radius: 1.5vh;
    display: inline-block;
    color: #fff;
    line-height: 2.4vh;
    font-size: 1.3vh;
    text-align: center;
    position: relative;
}

.content-submenu:nth-child(1) {
    background: #e8b414;
    box-shadow: 0.2vh 0.2vh #e8b414;
}

.content-submenu:nth-child(2) {
    background: #40d1f1;
    box-shadow: 0.2vh 0.2vh #40d1f1;
}

.content-submenu:nth-child(3) {
    background: #32d486;
    box-shadow: 0.2vh 0.2vh #32d486;
}

.guild-menu {
    display: none;
    padding: 1vh;
    font-size: 1.5vh;
    position: absolute;
    width: 15.8vh;
    height: 11.3vh;
    color: #000;
    background: url("1_03.png") no-repeat center;
    background-size: 100%;
}

.guild-menu ul {
    list-style: none;
    line-height: 3vh;
}

.content-submenu:hover .guild-menu {
    display: block;
}

.content-product {
    width: 21vh;
    height: 24vh;
    margin: 0.3vh;
    box-shadow: 0 0.05vh 0.1vh 0 rgba(0, 0, 0, 0.3);
    border-radius: 0.4vh;
    display: flex;
    flex-wrap: wrap;
}

.product-pic {
    width: 21vh;
    height: 60%;
    background: url("content-background.jpg") no-repeat center;
    background-size: 100%;
}

.content-product ul {
    width: 14vh;
    list-style: none;
    margin-left: 1vh;
}

.content-product ul li:nth-child(1) {
    width: 67%;
    line-height: 2vh;
    font-size: 1.3vh;
}

.content-product ul li:nth-child(2) {
    width: 67%;
    line-height: 2.5vh;
    font-size: 1.5vh;
    color: #606060;
}

.content-product ul li:nth-child(3) {
    width: 14vh;
    font-size: 1.3vh;
    line-height: 2vh;
    color: #8f8f8f;
}

.product-video {
    width: 5vh;
    height: 5vh;
    margin-top: 2vh;
    background: url("menu-search.jpg") no-repeat center;
    background-size: 100%;
    border-radius: 2.55vh;
}

.content:nth-child(2) .content-product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.content:nth-child(2) .list-pic {
    width: 15vh;
    height: 100%;
    background: url("2_03.png") no-repeat center;
    background-size: 100%;
}

.list-text {
    width: 27.5vh;
    height: 14vh;
}

.list-text ul {
    list-style: none;
}

.list-text ul li:nth-child(1) {
    margin-top: 1vh;
    width: 25vh;
    line-height: 2.3vh;
    font-size: 1.7vh;
    color: #69c4ea;
}

.list-text ul li:nth-child(2) {
    width: 25vh;
    line-height: 1.5vh;
    font-size: 1vh;
    color: #a1a1a1;
}

.list-text ul li:nth-child(3) {
    width: 25vh;
    line-height: 2.3vh;
    font-size: 1.5vh;
    color: #434343;
    padding-bottom: 1vh;
    border-bottom: 0.2vh dotted #000;
}

.content:nth-child(2) .list-shop {
    position: absolute;
    height: 4vh;
    width: 24vh;
    background: #00f0ff;
    bottom: 2vh;
    right: 2vh;
}

.content-designer {
    width: 100%;
    height: 60%;
    position: relative;
}

.designer-pic:nth-child(1) {
    z-index: 50;
    position: absolute;
    width: 8.17vh;
    height: 8.17vh;
    background: url("2_06.png") no-repeat center;
    background-size: 100%;
    left: 1vh;
    top: 1vh;
}

.designer-pic:nth-child(2) {
    z-index: 250;
    position: absolute;
    width: 8.17vh;
    height: 8.17vh;
    background: url("2_07.png") no-repeat center;
    background-size: 100%;
    right: 1vh;
    top: 6vh;
}

.designer-pic:nth-child(3) {
    z-index: 200;
    position: absolute;
    width: 2vh;
    height: 2vh;
    background: #f7c72d;
    border-radius: 1vh;
    left: 4.5vh;
    top: 11vh;
    font-size: 1.3vh;
    text-align: center;
    line-height: 2vh;
    color: #fff;
}

.designer-pic:nth-child(4) {
    z-index: 150;
    position: absolute;
    width: 11vh;
    height: 11vh;
    background: url("designer.jpg") no-repeat center;
    background-size: 100%;
    border-radius: 5.5vh;
    left: 4vh;
    top: 3vh;
}

.designer-inf {
    width: 100%;
    height: 40%;
    border-bottom: 0.2vh dotted #090809;
    padding: 1vh 0;
}

.designer-inf ul {
    list-style: none;
    width: 100%;
}

.designer-inf ul li:nth-child(1) {
    font-size: 1.3vh;
    color: #1fb4f5;
    line-height: 1.5vh;
}

.designer-inf ul li:nth-child(2) {
    font-size: 1.5vh;
    color: #979797;
    line-height: 2vh;
}

.designer-service {
    width: 100%;
    height: 2vh;
}

.designer-service ul {
    display: flex;
    list-style: none;
}

.designer-service ul li:nth-child(1) {
    color: #ef4308;
    font-size: 1.3vh;
    line-height: 2vh;
}

.designer-service ul li:nth-child(2) {
    color: #1d9ee1;
    font-size: 1.3vh;
    line-height: 2vh;
}

.designer-service ul li:nth-child(3) {
    color: #7ecb4f;
    font-size: 1.3vh;
    line-height: 2vh;
}

.designer-button {
    margin: 1.5vh auto;
    width: 22vh;
    height: 6vh;
    background: #2298f3;
    border-radius: 3vh;
    border: 0.3vh solid #fff;
}

.designer-button ul {
    list-style: none;
    margin: 0 3vh;
    display: flex;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0.2vh 0.2vh #de33ac;
}

.designer-button ul li:nth-child(1) {
    font-size: 1.6vh;
    line-height: 6vh;
    color: #fff;
}

.designer-button ul li:nth-child(2) {
    margin-top: 1vh;
    font-size: 1.3vh;
    line-height: 5vh;
}

.hot-list {
    width: 100%;
    height: 92vh;
    position: relative;
}

.banner-logo {
    position: absolute;
    right: 1vh;
    top: 0.5vh;
    width: 2vh;
    height: 0.5vh;
    background: url("banner-logo.png") no-repeat center;
    background-size: 100%;
}

.hot-banner {
    margin-top: 0.5vh;
    width: 100%;
    height: 42vh;
    background: url("banner.png") no-repeat center;
    background-size: 100%;
    position: relative;
    overflow: hidden;
}

.banner-inf {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 10vh;
    bottom: 0;
    background: rgba(28, 47, 20, 0.5);
    display: flex;
}

.banner-text {
    margin: 1vh 0 1vh 1vh;
    width: 75%;
    height: 100%;
}

.banner-text ul {
    list-style: none;
    width: 100%;
}

.banner-text ul li:nth-child(1) {
    font-size: 1.5vh;
    font-weight: bold;
    color: #fff;
}

.banner-text .line:nth-child(2) {
    margin: 0.5vh;
    width: 2.5vh;
    height: 0.2vh;
    background: #c0c0c0;
}

.banner-text ul li:nth-child(3) {
    font-size: 1.3vh;
    color: #d9d9d9;
}

.banner-button {
    width: 20%;
    height: 100%;
    padding: 0.5vh;
}

.banner-button .banner-time {
    height: 30%;
    width: 100%;
    font-size: 1.7vh;
    line-height: 2vh;
    font-weight: 400;
    text-align: center;
    color: #ffc822;
    border-bottom: 0.2vh dotted #c0c0c0;
}

.banner-button-list {
    width: 100%;
    height: 60%;
    position: relative;
}

.banner-button-list .button-1 {
    position: absolute;
    top: 1vh;
    left: 1.5vh;
    width: 4.5vh;
    height: 1.6vh;
    border-radius: 0.8vh;
    background: #ff2673;
    border: 0.2vh solid #fff;
    box-shadow: 0 0 0.2vh 0.2vh #ff2673;
    font-size: 1.2vh;
    text-align: center;
    line-height: 1.3vh;
    color: #fff;
}

.hot-news {
    width: 100%;
    height: 42vh;
}

.hot-news .hot:nth-child(1) {
    float: left;
    width: 50%;
    height: 21vh;
    background: url("content-background.jpg");
}

.hot-news .hot:nth-child(2) {
    float: right;
    width: 50%;
    height: 21vh;
    background: #fcfbfb;
}

.hot-news .hot:nth-child(3) {
    float: left;
    width: 50%;
    height: 21vh;
    background: #364854;
}

.hot-news .hot:nth-child(4) {
    float: right;
    width: 50%;
    height: 21vh;
    background: url("content-background.jpg");
}

.hot ul {
    padding: 1vh;
    list-style: none;
    width: 21vh;
}

.hot ul li:nth-child(1) {
    width: 15vh;
    font-size: 1.7vh;
    color: #777777;
    line-height: 3vh;
    font-weight: bold;
}

.hot ul li:nth-child(2) {
    width: 19vh;
    font-size: 1.5vh;
    line-height: 2vh;
    color: #bdbdbd;
}

.hot ul li:nth-child(3) {
    font-size: 1.8vh;
    margin-top: 4vh;
    color: #38acf5;
    font-weight: 400;
}

.partner-list {
    width: 100%;
    height: 41vh;
}

.partner-menu {
    margin-bottom: 3vh;
}

.partner {
    width: 100%;
    height: 8.5vh;
    display: flex;
    justify-content: space-between;
}

.partner .partner-sub {
    width: 7.2vh;
    height: 7.2vh;
    background: #703040;
}

.partner-button {
    margin: 1.5vh auto;
    width: 22vh;
    height: 6vh;
    background: #48b01f;
    border-radius: 3vh;
    border: 0.3vh solid #fff;
    box-shadow: 0 0 0.2vh 0.2ch rgba(0, 0, 0, 0.4);
}

.partner-button ul {
    list-style: none;
    margin: 0 2vh;
    display: flex;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0.2vh 0.2vh #ada200;
}

.partner-button ul li:nth-child(1) {
    font-size: 1.6vh;
    width: 9vh;
    line-height: 6vh;
    color: #fff;
}

.partner-button ul li:nth-child(2) {
    margin-top: 1.2vh;
    font-size: 1.3vh;
    color: #fff;
    line-height: 1.4vh;
}

.footer-list {
    width: 100%;
    height: 29.5vh;
    background: #2d2d2d;
    padding: 3vh 0 2vh;
}

.footer:nth-child(1) {
    margin: 0 auto;
    width: 25vh;
    height: 7vh;
    display: flex;
}

.logo-left {
    width: 12.4vh;
    height: 7vh;
    background: url("logoleft.png") no-repeat center;
    border-right: 0.2vh dotted #f5f5f5;
}

.logo-right {
    width: 12.4vh;
    height: 7vh;
    background: url("logoright.png") no-repeat center;
}

.footer:nth-child(2) {
    margin: 0.5vh auto;
    width: 21vh;
    height: 5vh;
    font-size: 1.3vh;
    color: #9f9d9d;
    line-height: 2vh;
}

.footer:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;
    width: 21vh;
    justify-content: space-between;
    list-style: none;
}

.footer:nth-child(2) ul li {
    width: 7vh;
    text-align: center;
}

.footer:nth-child(3) {
    margin: 0 auto;
    width: 13vh;
    height: 0.2vh;
    border-top: 0.2vh dotted #f5f5f5;
}

.footer:nth-child(4) {
    margin: 1vh auto;
    width: 35vh;
    height: 5vh;
    font-size: 1vh;
    text-align: center;
    line-height: 2vh;
    color: #9f9d9d;
}

.footer:nth-child(4) ul {
    list-style: none;
    width: 35vh;
}

.footer:nth-child(5) {
    margin: 0 auto;
    width: 15vh;
    height: 4vh;
    display: flex;
    justify-content: space-around;
}

.footer .footer-login {
    width: 4vh;
    height: 4vh;
    border-radius: 2vh;
    border: 0.2vh solid #fff;
}

.footer-login:nth-child(1) {
    background: url("weixin.png") no-repeat center;
    background-size: 100%;
}

.footer-login:nth-child(2) {
    background: url("qq.png") no-repeat center;
    background-size: 100%;
}

.footer-login:nth-child(3) {
    background: url("weibo.png") no-repeat center;
    background-size: 100%;
}